<h2>Detalhes do Usuário 000000000</h2>

{{#with usuario}}
<p>Id Usuário: {{this.id_usuario}}</p>
<p>nome: {{this.nome_usuario}}</p>
<p>Endereço: {{this.endereco_usuario}}</p>
<p>Email: {{this.email_usuario}}</p>
<p>Data nascimento: {{this.data_nascimento_usuario}}</p>

{{/with}}